<html>

  <head>
    <title>Hỏi Dân IT Activation Email</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>

  <body
    style='margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;'
  >
    <div style='max-width: 600px; margin: 0 auto;'>
      <div style='background-color: #0070f3; padding: 24px; color: #ffffff;'>
        <h1
          style='font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;'
        >
          Welcome to @hoidanit</h1>
      </div>
      <div style='padding: 24px; background-color: #ffffff;'>
        <p style='margin-top: 0; margin-bottom: 24px;'>Hello {{name}},</p>
        <p style='margin-top: 0; margin-bottom: 24px;'>Thank you for registering
          with @hoidanit. To activate your account, please use the following
          activation code:</p>
        <h2
          style='font-size: 20px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;'
        >
          {{activationCode}}</h2>
        <p style='margin-top: 0; margin-bottom: 24px;'>Please enter this code on
          the activation page within the next 5 minutes.</p>
        <p style='margin-top: 0; margin-bottom: 24px;'>If you did not register
          for a @hoidanit account, please ignore this email.</p>
      </div>
      <div style='background-color: #f6f6f6; padding: 24px;'>
        <p style='margin-top: 0; margin-bottom: 24px;'>
          If you have any questions, please don't hesitate to contact us at
          <a
            href='https://youtube.com/@hoidanit'
            target='_blank'
            style='color: #000; text-decoration:none;'
          >@hoidanit
          </a>
        </p>
      </div>
    </div>
  </body>

</html>